.checkout-container {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  color: black;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
