.checkout {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  height: calc(100vh - 9rem);
  background-color: white;
  justify-content: center;
  align-items: center;
}

.checkout p {
  font-size: 2rem;
}

.loading{
  font-size: 2rem;
}
