footer {
  width: 100%;
  background-color: rgb(197, 147, 147);
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem;
}

@media (max-width: 450px) {
  h2 {
    font-size: 0.7rem;
  }
}
